.Toolbar {
  @apply items-center w-full text-white bg-neutral-800;
}

.Navigation {
  @apply flex items-center w-full gap-4 pl-6 bg-neutral-900;
  /* -webkit-app-region: drag; */
}

.Tooltip::part(body) {
  background-color: black;
  color: white;
}

.Tooltip::part(base__arrow) {
  background-color: black;
}

.Draggable {
  @apply cursor-grab;
  -webkit-app-region: drag;
}