.Switch::part(base) {
  display: flex;
}

.RTL::part(base) {
  flex-direction: row-reverse;
}

.Switch::part(control) {
  border: none;
  height: 22px;
  width: 40px;
  background: #d1d1d1;
}

.Switch[checked]::part(control) {
  background: var(--sl-color-green-600);
}

.Switch::part(thumb) {
  background: var(--sl-color-neutral-0);
  border: none;
  height: 14px;
  width: 14px;
}